# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Streamlit secrets
.streamlit/secrets.toml
.streamlit/*.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

.env

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/

# Data outputs (optional, uncomment if needed)
# *.db
# *.csv